<h2>Updates</h2>
<% @blog_posts.each do |post| %>
  <h3><%= link_to post.title, update_path(post) %><span><%= post.created_at.strftime("%m/%d/%Y") %></span></h3>
  <%= post.body.html_safe %>
<% end %>
<br /><br />
<%= will_paginate @blog_posts %>
