development:
  adapter: postgresql
  database: 
  username:
  password:

test:
  adapter: postgresql
  database: 
  username: 
  password:

production:
  adapter: postgresql
  database: 
  username: 
  password:
